<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Book</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>
    <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
    <form th:action="@{/artists}" th:method="GET">
        <div th:each="artist: ${allArtists}">
            <input type="radio" name="artistId" th:value="${artist.getId()}"
                   th:text="${artist.getFirstName()} + ' ' + ${artist.getLastName()}" /><br/>
        </div>
        <button id="submit" type='submit'>Add artist</button>
    </form>
</section>
<aside>
    <form>
<!--        <div th:each="artist: ${selectedSong.getPerformers()}">-->
<!--            <p th:text="${artist.getFirstName()} + ' ' + ${artist.getLastName()}"></p>-->
        </div>
        <table>
            <tr th:each="artist : ${selectedSong.performers}" class="artist">
                <th colspan="2">
                    Artist
                </th>
                <td th:text="${artist.getFirstName()}">

                </td>
            </tr>
        </table>
    </form>
</aside>
</body>
</html>