<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Book</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>
    <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
    <form th:action="@{/listArtists}" th:method="POST">
        <input type="radio" name="artistId" value="1"> Axl Rose <br/>
        <input type="radio" name="artistId" value="2"> Jon Bon Jovi <br/>
        <input type="radio" name="artistId" value="3"> David Bowie <br/>
        <br/>

        <button id="submit" type='submit'>Add artist</button>
        <a id="back" href="/listArtists" type="button">Add artist</a>
    </form>
</section>
<aside>
    <table>
        <tr th:each="artist : ${artists}" class="artist">
            <th th:text="${artist.getFirstName()}" colspan="2">
                Artist
            </th>
            <th>
                <!-- change to show selected trackId -->
                <td><b>Track Id</b></td>
                <td>2<th:block th:text="${trackId}"></th:block></td>
            </th>
        </tr>
    </table>
</aside>
</body>
</html>